<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.shace.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreenActivity_"
            android:enabled="true"
            android:label="@string/app_name"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity_"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".SearchActivity_"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity_" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity_" />
        </activity>

        <activity
            android:name=".SignUpActivity_"
            android:label="@string/title_activity_sign_up" >
        </activity>

        <activity
            android:name=".TourActivity"
            android:label="@string/title_activity_tour" >
        </activity>

        <activity
            android:name=".WelcomeActivity_"
            android:label="@string/title_activity_welcome" >
        </activity>
    </application>

</manifest>
